* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}



/* Alert styling start */
.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.alert {
    border: 1px solid black;
    padding: none !important;
    margin-top: 10px;
    background-image: linear-gradient(to bottom right, #a0752b, #fdd5519c) !important;
    /* min-width: 4px; */
    position: fixed !important;
    right: 0px !important;
    top: 10px;
    z-index: 4;
    border-radius: 15px !important;
    display: none;
}

.alert .icon {
    position: absolute;
    font-size: 20px;
    top: 55%;
    left: 20px;
    transform: translateY(-50%);
    color: rgb(38, 123, 38);
}

.alert .message {
    padding: 0px 35px;
    top: 0px;
    font-weight: 600;
}

.alert .close {
    /* border: 1px solid black ; */
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    right: 5px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);

}

.close-btn :hover {
    transform: scale(3.5) !important;
    /* background-color: #A0752B; */
    background-color: #000;
    color: bisque;
    border-radius: 5px !important;
}

/* Alert styling end */
.lap {
    background-color: #FDD551;
}

.runner {
    margin-top: 80px;
    background-image: linear-gradient(to bottom right, #A0752B, #FDD551) !important;
    padding: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* min-height: 100vh; */
    background: #000;
    overflow: hidden;
    z-index: 1 !important;
}

.glowing {
    position: relative;
    width: 100%;
    /* height: 550px; */
    /* margin: -150px; */
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
    transform-origin: left;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

.glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1),
        0 0 40px rgba(134, 255, 0, 1),
        0 0 60px rgba(134, 255, 0, 1),
        0 0 80px rgba(134, 255, 0, 1),
        0 0 0 8px rgba(134, 255, 0, .1);
}

.glowing span:nth-child(3n + 2)::before {
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1),
        0 0 40px rgba(255, 214, 0, 1),
        0 0 60px rgba(255, 214, 0, 1),
        0 0 80px rgba(255, 214, 0, 1),
        0 0 0 8px rgba(255, 214, 0, .1);
}

.glowing span:nth-child(3n + 3)::before {
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1),
        0 0 40px rgba(0, 226, 255, 1),
        0 0 60px rgba(0, 226, 255, 1),
        0 0 80px rgba(0, 226, 255, 1),
        0 0 0 8px rgba(0, 226, 255, .1);
}

.glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite;
}

@keyframes animate {
    0% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.search {
    display: none;
}

.header {
    color: gold;
    height: 95vh;
    margin-top: 90px;
    padding-top: 100px;
    /* border: 1px solid black ; */
    background-image: url(./image/image-001.png);
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center 100%;
}

.skip {
    /* border: 1px solid black !important; */
    border-radius: 18px !important;
    /* background-color: #FDD551 !important; */
    background-image: linear-gradient(to bottom right, #A0752B, #FDD551, #201F1D) !important;
}

.navigation {
    z-index: 1 !important;
}

.navigation .zap {
    position: relative;
    color: black;
}

.navigation .zap::after {
    content: '';
    position: absolute;
    width: 100%;
    background: gold;
    height: 3px;
    right: 0;
    left: 0;
    bottom: 3px;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation .zap:hover::after {
    transform: scaleX(1);
}


/* our fav */


.zap {
    /* border: 1px solid black; */
    text-decoration: none;
    color: black;
}

.zap2 {
    /* border: 1px solid black !important; */
    color: #000;
    border: none !important;
    border-radius: 18px !important;
    background-color: #FDD551 !important;
}

.zap2:hover {
    background-image: linear-gradient(to bottom right, #A0752B, #FDD551) !important;
}


.move {
    left: 0;
}

.check {
    margin-top: 120px;
}

/* button for quick pick */
.quick {
    background-color: aliceblue;
    /* margin-top: 40px; */
}

.bo {
    padding: 2px;
    width: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.inner {
    border: none;
}

.sell1 {
    /* border: 1px solid black; */
    width: 180px;
    border-radius: 20px;
    background-color: #FDD551;
}

.sell1 {
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: #FDD551;

}

.sell2 {
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: white;
}



/* advert */

.slideshow-container {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    min-height: 28vh;
    text-align: center;
    margin-bottom: 1px;
    /* border: 1px solid #000; */
}

.div1,
.div2,
.div3 {
    min-height: 30vh;
    width: 100%;
    background-color: #a0752b;
    /* border: 1px solid #000; */
    /* border-radius: 15px; */
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    /* display: none !important; */
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 25%;
    font-weight: bolder;
    color: white;
    padding: 16px;
    transition: background-color 0.7s ease-in-out;
    text-decoration: none;
}

.prev:hover,
.next:hover {
    background-color: rgb(160, 117, 43, 0.8);
}

.prev {
    left: 10px;
    border-radius: 15px;
    border-radius: 0 7px 7px 0;

}

.next {
    right: 10px;
    border-radius: 7px 0 0 7px;

}

.div1 {
    background-image: url(./image/3d-rendering-cartoon-cacti-with-friendly-face.jpg);

}

.div2 {
    background-image: url(./image/cosmetic-item-with-marijuana-leaves\ \(1\).jpg);

}

.div3 {

    background-image: url(./image/cosmetic-item-with-marijuana-leaves.jpg);

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.386);
    /* background-color: white; */
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}

.active,
.dot:hover {
    background-color: rgb(128, 128, 128);
    /* background: #000; */
}



.dot-container {
    margin-top: -55px;
    /* border: 1px solid gray; */
}

.fade {
    animation: fade 5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0.7
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}

/* advert ends */

.cart {
    border: none;
    background-color: #FDD551;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(2.5);
    /* IE 9 */
    -webkit-transform: scale(2.5);
    /* Safari 3-8 */
    transform: scale(2.5);
}

.lolo {
    border-radius: 100%;
    padding: 5px;
    border: none;
    background-color: #FDD551;
}

.lolo:hover {
    background-image: linear-gradient(to bottom right, #A0752B, #FDD551);
    scale: 1.2;
}



/* product styling */
.product {
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-bottom: 30px;
}

.pre {
    /* background-image: linear-gradient(to bottom right,#A0752B, #FDD551)!important;  */
    background-color: #FDD551 !important;
}

.bill {
    height: 285px;
}

.display {
    /* border: 1px solid black; */
    display: block;
}

.will {
    /* display: none; */
    /* position: absolute; */
    /* display: flex; */
    border-radius: 20px;
    background-color: #FDD551;
    overflow: hidden;
    transition: 4s ease-in-out;
    display: none;
}

.bill:hover .will {
    /* height: 100%; */
    display: block;
    cursor: pointer;
}

/* cart styling start */
.cartsection {
    margin-top: 190px;
}

.login {
    background-color: #A0752B;
    border: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

.numerical {
    display: flex;
    justify-content: space-around;
    padding: 3px;
}

.numerical .add,
.minus {
    margin-top: 3px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.numerical .number {
    margin-top: 3px;

}

/* cart styling ends */
/* showcase styling start */
.showcase {
    margin-top: 190px;
}

.price {
    color: #A0752B;
}

.numbers {
    display: flex;
    /* border-radius: 40px; */
}

input[type="number"] {
    text-align: center;
    border: none;
    background: aliceblue;

}

input::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.functionalbtn {
    border: none;
    background: aliceblue;
    padding: 4px;
    cursor: pointer;
    font-size: 20px;
}

/* showcase styling end */


@media(max-width: 980px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .search {
        margin-top: 20px;
        display: block;
        /* border: 1px solid black; */
        padding: 7px;
        width: 100%;
    }

    .logo {
        width: 120px !important;
        height: 40px !important;
    }

    .header {
        color: black;
        /* min-width: 10px; */
        height: 50vh;
        margin-top: 135px;
    }





    .text_control {
        /* height: 30vh; */
        margin-top: -40px;
        /* position: relative; */
        /* display: flex; */
        /* align-items: center; */
    }

    /* .active-filter-btn {
        border: none;
        background-color: gold;
        color: white;
        border-color: green;
    } */

    .zappy img {
        /* border: 1px solid black; */
        height: 200px !important;
        background-color: black;
    }

    /* product styling */
    .product {
        margin-top: 135px;
    }

    .runner {
        display: none !important;
    }

    .display {
        display: block;
    }

    .sell1 {
        /* border: 1px solid black; */
        width: 180px;
        border-radius: 20px;
        background-color: #FDD551;
        /* display: none !important; */
    }

    .product {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .showcase {
        margin-top: 190px;
    }

    .cartsection {
        margin-top: 190px;
    }

    /* .chev{
        border: 1px solid black;
        margin-top:40px;
        width: 120px ;
    } */
    .div1,
    .div2,
    .div3 {
        min-height: 20vh;
        width: 100%;
        background-color: #a0752b;
        /* border: 1px solid #000; */
        /* border-radius: 15px; */
        margin-bottom: 10px;
        background-size: cover;
        background-position: center;
        /* display: none !important; */
    }
}
